
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	/*width: 50%;*/
}


.list-view {
	position: absolute;
	right: 0;
	top: 0;
}

input {
	position: fixed;
	left : 20px;
	top: 20px;
	height: 40px;
  /*
	width: 200px;
  */
  width: 300px;
	font-size: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

/* remove bullets */
li {
	list-style-type: none;
	font-weight: bold;
}

#restaurant-list {
  z-index: 100;
  position: fixed;
  right: 0px;
  top: 30px;
  background: none;
  height: auto;
  max-height: 100%;
  overflow-y: scroll;
  width: 340px;
  transition: 0.2s;
}

#restaurant {
  padding: 10px;
  position: relative;
  border: 1px solid #ddd;
  background: white;
  width: 280px;
  float: right;
  transition: 0.5s;
}

#restaurant:hover {
  background: #4595d6;
}

#restaurant-toggle {
  top: 0;
  font: inherit;
  font-weight: bold;
  height: 50px;
  width: 320px;
  /*
  background-color: #0191c8;
  */
  background-color: black;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
}

#restaurant-toggle:hover {
  background: #0191c8;;
}

.place-name {
  text-align: 10px;
  font-weight: bold;
  font-size: 20px;
}

.place-image {
  display: block;
  padding: 10px;
}
